/* LoginForm.css */

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .login-form-left {
    flex: 1;
    padding: 20px;
    height: 100%;
    background: #c8d0d5;
    background: #171760;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .login-form-left h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 124px;
    color: #ffffff;
  }
  .login-form-left h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 11px;
    color: #ffffff;
  }

  .login-form-left p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 66px;
    color: #ffffff;
  }
  
  .login-form-left img {
    max-width: 61%;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-right {
    flex: 1;
    padding: 120px;
    height: 70%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .login-form-right h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 55px;
    color: #000000;
  }
  
  .login-form-right h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 32px;
    color: #2A2A72;
    text-align: right;
  }

  .login-form-right h5 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 30px;
    color: #000000;
  }

  .login-form-right h6 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 80px;
    color: #000000;
  }
  .login-form-right h6 span {
    font-weight: 600;
    color: #2A2A72;
  }

  .form-group {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .Icon{
    display: flex;  
    justify-content: center;
  }
  .Icon img{
    width: 40px;
    height: 40px;
    margin: 30px;
  }
  select {
    font-size: 20px;
    width: 103%;
    height: 55px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  

  select::-ms-expand {
    display: none; 
  }
  
  .form-group input {
    font-size: 40px;
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;  
  }
  
  button {
    background-color: #fff; 
    border-color: #2A2A72; 
    border-width: 5px;
    color: #2A2A72;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
  }
  
  button:hover {
    background-color: #fff;
    border-color: #2A2A72; 
  }
  
  /* Mobile-specific styles using media queries */
  @media (max-width: 768px) {
    .login-form-container {
      flex-direction: column;
      height: auto;
    }
  
    .login-form-left {
      flex: 1;
      padding: 20px;
      padding-left: 40px;
      padding-right: 40px;
      align-items: center;
    }
    .login-form-right {
      flex: 1;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;    
      align-items: center;
    }
  
    .login-form-left h1 {
      font-size: 28px;
      margin-bottom: 15px;
    }
  
    .login-form-right h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  
  